@media(max-width: 920px) {
    .container {
        width: 920px;
    }

    .wawe {
        width: 400px;
    }

    .header_txt {
        display: none;
    }

    header {
    width: 65%;

    }

    .hamburger-menu {
        display: block;
        width: 40px;
        height: 40px;
    }
}